html,body {
    background-color:rgb(238, 237, 237) ;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
header {
    color:#fff;
    background-color: #f5ba13;
    padding:10px 20px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
}
.header-title {
    font-size: 1.8rem;
    font-family: "McLaren";
    font-weight: 200;
}
.note {
    background-color: #fff;
    width: 250px;
    margin: 20px;
    box-shadow: 0 2px 5px #ccc;
    border-radius: 5px;
    padding:10px;
}
.note h1 {
    font-size: 1.2em;
    margin-bottom: 10px;
    
}
.note p {
    font-size: 1.1em;
    word-wrap: break-word;
    margin-bottom: 20px;
}


footer {

}