* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body {
    background-color:rgb(238, 237, 237);
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
    padding:0 16px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
button:hover {
    cursor: pointer;
}
header {
    margin: auto -16px;
    color:#fff;
    background-color: #f5ba13;
    padding:15px 35px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
}
.header-title {
    font-size: 2rem;
    font-family: "McLaren";
    font-weight: 200;
}

.notes-container {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.note {
    background-color: #fff;
    width: 251px;
    margin: 20px;
    box-shadow: 0 2px 5px #ccc;
    border-radius: 5px;
    padding:10px;
    float: left;
    position: relative;
}
.note h1 {
    font-size: 1.2em;
    margin-bottom: 10px;

}
.note p {
    font-size: 1.1em;
    word-wrap: break-word;
    margin-bottom: 20px;
    white-space: pre-wrap;
    font-weight: 300;
}
.delete-btn {
    position: absolute;
    background-color: transparent;
    color: #f5ba13;
    bottom: 5px;
    right:7px;
    border:none;
    font-size: large;
}

footer {
    margin-top: 150px;
    text-align: center;
    width: 100%;
    height: 2.5rem;
}

footer p {
    color:rgb(255, 255, 255);
}


form.create-note {
    position: relative;
    max-width: 480px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
  }
  form.create-note input,
  form.create-note textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
  }
  form.create-note button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: #f5ba13;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
  }